{% extends 'base.html' %}

{% block body %}
{% include 'nav.html' %}

<section class="bg-primary text-white mb-0" id="about">
 </section>

<!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Because life is never straightforward, there may be times when it becomes necessary to seek guidance from a professional to advise, protect and offer positive solutions in respect of personal and business disputes.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">We can match you to a solicitor to advise in such contentious matters; specialising in the resolution of disputes of issues related to land and property, inheritance and trusts, debt enforcement and contracts, bankruptcy and insolvency, professional service liability, landlord and tenant, building and construction, transportation, distribution and agency, partnerships and shareholders, misrepresentations, defamation and reputation management, fraud, misconduct and deceit and cross border disputes.</p>
          </div>
        </div>

      </div>
    </section>


{% include 'footer.html' %}
  {% endblock body %}