{% extends 'base.html' %}

{% block body %}
{% include 'nav.html' %}

<section class="bg-primary text-white mb-0" id="about">
 </section>

<!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Thanks for your email.</h2>
        <hr class="star-light mb-5">
        <h3 class="text-center text-lowercase text-white">We will respond within 24 Hours.</h3>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead"></p>
          </div>
          <div class="col-lg-7 mr-auto">
            <p class="lead"></p>
          </div>
        </div>

      </div>
    </section>


{% include 'footer.html' %}
  {% endblock body %}