{% extends 'base.html' %}

{% block body %}
{% include 'nav.html' %}

<!-- About Section -->
    <section class="bg-white mb-0">
      <div class="container">
      <p>
        <p>
        <h3 class="text-center text-uppercase"></h3>

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title|safe }}</h1>
        <p>{{ post.text|safe }}</p>
    </div>


          <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead"></p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead"></p>
          </div>
        </div>

      </div>
    </section>




{% include 'footer.html' %}
  {% endblock body %}